@import 'bootstrap';
@import 'mixin';
@import 'index';


.main{
    .main__greeting{
        display: flex;
        justify-content: center;
        padding: 25px 0;
        font-size: 40px;
    }

    .main__community {
        
        
          .sort {
            display: flex;
            justify-content: space-between;
            .sort__right_side {
              align-items: center;
                display: flex;
              .sort__pop_up {
                margin-left: 10px;
                border: 2px solid darkgray;
                background-color: #1F2937;
                border-radius: 10px;
                padding: 5px 7px;
                i{
                  color: aliceblue;
                }
              }
            }
          }
          .main__community_cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 50px 0 100px;
          
            .community_card{
              padding: 10px;
              background-color: silver;
              display: flex;
              width: 360px;
              height: 200px;
              margin: 10px 20px;
              border-radius: 20px;
              .community_name{
                font-size: 25px;

              }
              .community_pfp{
                width: 60px;
                height: 60px;
                margin-right: 10px;
                background-color: black;
                border-radius: 15px;
              }
            }

          }


        }
      
      
            
}